{% extends "common/base.html" %}
{% load static %}


{% block body %}
    <div class="container body-content">

        <!-- Greeting Section -->
        <section id="section greeting" class="  ms-3 body-content">

            <div class="container ">
                <div class="row ">
                    <div class="col-md-9">
                        <p class="Gio-color fs-6">Hi, my name is</p>
                        <h1 class="big-text text-white"> Giovanni Tshibangu.</h1>

                        {% for intro in intros  %}
                            <h1 class="big-text light-white mb-3">{{ intro.head_text}}</h1>

                            <p class="light-white py-3">
                                {{ intro.intro_text}}
                            </p>

                            <p class="my-3 p-2 Gio-color my-border  d-inline"><a class="Gio-color text-decoration-none " href="{{intro.my_linkedIn}}">Check out my LinkedLin! </a> </p>

                            </div>
                            <div class="col-md-3 pt-3">
                                <img src="{{ intro.my_profile_picture.url }}">

                            </div>
                        {%  endfor %}
                </div>


            </div>


        </section>
        <!-- About Me Section -->
        <section id="section1" class="mt-3 ms-3 text-white body-content">
            <div class="container">
                <h3><span class="Gio-color"> 0.1 </span>About Me</h3> <hr class="border border-2">

                <div class="row projects-row">
                    {% for intro in intros %}
                        <div class="col-9">
                            <p class="light-white">
                                {{ intro.about_me_intro1}}
                            </p>
                            <p class="light-white ">
                                {{ intro.about_me_intro2}}
                            </p>
                            <p class="light-white ">
                                Here are a few technologies I've been working with recently:
                            </p>
                            <ul class="b Gio-color" id="b">
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if intro.tech_used1 %}
                                            <li>{{ intro.tech_used1 }}</li>
                                        {% endif %}

                                        {% if intro.tech_used2 %}
                                            <li>{{ intro.tech_used2 }}</li>
                                        {% endif %}

                                        {% if intro.tech_used3 %}
                                            <li>{{ intro.tech_used3 }}</li>
                                        {% endif %}
                                    </div>

                                    <div class="col-md-4">
                                        {% if intro.tech_used4 %}
                                            <li>{{ intro.tech_used4 }}</li>
                                        {% endif %}

                                        {% if intro.tech_used5 %}
                                            <li>{{ intro.tech_used5 }}</li>
                                        {% endif %}

                                        {% if intro.tech_used6 %}
                                            <li>{{ intro.tech_used6 }}</li>
                                        {% endif %}
                                    </div>
                                </div>
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Work Experience Section -->
        <section id="section2" class="mt-3  ms-3 text-white body-content">
            <div class="container">
                <h3><span class="Gio-color"> 0.2 </span>Where I've Worked</h3> <hr class="border border-2">

                <div class="row projects-row">
                    <div class="col-12">

                        <div class="d-flex align-items-start">
                            <div class="nav flex-column nav-tabs me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                {% for my_exp in  my_work_experiences %}
                                    <a class="nav-link " id="v-pills-{{ my_exp.css_id }}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{ my_exp.css_id }}" type="button" role="tab" aria-controls="v-pills-{{ my_exp.css_id }}" aria-selected="false">{{ my_exp.employer }}</a>
                                {% endfor %}
                            </div>

                            <div class="tab-content" id="v-pills-tabContent">
                                {% for my_exp in  my_work_experiences %}
                                    <div class="{{ my_exp.css_class}}" id="v-pills-{{ my_exp.css_id }}" role="tabpanel" aria-labelledby="v-pills-{{ my_exp.css_id }}-tab" tabindex="{{ my_exp.id }}">
                                        <h6>
                                            {{ my_exp.role}} <span class="Gio-color">@ {{ my_exp.employer }} </span>
                                        </h6>
                                        <small class="light-white ">{{ my_exp.employement_date}}</small>
                                        <ol class="light-white mt-3">
                                            {% if my_exp.experience_descriptions1 %}
                                                <p>{{ my_exp.experience_descriptions1 }}</p>
                                            {% endif %}

                                            {% if my_exp.experience_descriptions2 %}
                                                <li>{{ my_exp.experience_descriptions2 }}</li>
                                            {% endif %}

                                            {% if  my_exp.experience_descriptions3 %}
                                                <li>{{ my_exp.experience_descriptions3 }}</li>
                                            {% endif %}

                                            {%  if my_exp.experience_descriptions4 %}
                                                <li>{{ my_exp.experience_descriptions4 }}</li>
                                            {% endif %}

                                            {% if my_exp.experience_descriptions5 %}
                                                <li>{{ my_exp.experience_descriptions5 }}</li>
                                            {% endif %}

                                            {%  if my_exp.experience_descriptions6 %}
                                                <li>{{ my_exp.experience_descriptions6 }}</li>
                                            {% endif %}

                                            {% if my_exp.experience_descriptions7 %}
                                                <li>{{ my_exp.experience_descriptions7 }}</li>
                                            {% endif %}

                                            {% if  my_exp.experience_descriptions8 %}
                                                <li>{{ my_exp.experience_descriptions8 }}</li>
                                            {% endif %}

                                            {%  if my_exp.experience_descriptions9 %}
                                                <li>{{ my_exp.experience_descriptions9 }}</li>
                                            {% endif %}

                                            {%  if my_exp.experience_descriptions10 %}
                                                <li>{{ my_exp.experience_descriptions10 }}</li>


                                            {% else %}

                                            {% endif %}
                                        </ol>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--  <div class="d-flex align-items-start">
                                  <div class="nav flex-column nav-tabs me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                      <button class="nav-link active light-white" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Nel Hydrogen</button>
                                      <button class="nav-link light-white" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">ELG_Firearms</button>
                                      <button class="nav-link light-white" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Naugatuck Valley Community College</button>
                                  </div>

                                  <div class="tab-content" id="v-pills-tabContent">
                                      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                                          <h6>
                                              Software Engineer & Control Intern <span class="Gio-color">@ Nel Hydrogen</span>
                                          </h6>
                                          <small class="light-white ">Summer of 2022</small>

                                          <ul class="light-white mt-3">
                                              <li>Integrated remote access and communication solution for automation, monitoring, remote programming, and data-logging of industrial machine using Secomea.</li>
                                              <li>Developed data collections tools such as APIs to communicate with Hydrogen Generators and other electrical devices. </li>
                                              <li>Collaborated with electrical engineers in developing Data blocks in SiteManager of the Secomea.</li>
                                              <li>Collaborated with IT Directors in improving cloud-based data collection and storage.</li>
                                              <li>Updated and designed cloud-based data collection and storage schematics on Microsoft Azure IoTHub and SQL SERVERS. </li>
                                              <li>Reviewed database schema and proposed solutions to improve data rendering speed on Grafana Dashboard</li>
                                              <li>Updated and designed complex Queries on Azure SQL Server.</li>
                                              <li>Updated and designed Dashboard using Grafana with SQL Server as Data source.</li>
                                              <li>Collaborated with vendors and engineers in designing Front and Back-ends Dashboards.</li>
                                          </ul>



                                      </div>

                                      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                                          <h6>
                                              Freelance Web Developer <span class="Gio-color">@ ELG Firearms Service and Instruction</span>
                                          </h6>
                                          <small class="light-white ">Apr 2022 - Jul 2022 · 4 mos</small>

                                          <ul class="light-white mt-3">
                                              <li>Reviewed and updated WordPress website.</li>
                                              <li>Integrated and designed new features to improve user experience.</li>
                                              <li>Reviewed and proposed backend features to improve data collection and processing.</li>
                                              <li> Reviewed backend and front-end security features of the website.</li>
                                              <li>Reviewed and updated an already existing WordPress Store to improve time efficiency when adding products to the online store.</li>
                                              <li>Research and evaluate cybersecurity measures and propose features to the Head of the Organization</li>
                                          </ul>
                                      </div>

                                      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
                                          <h6>Information Technology Assistant <span class="Gio-color">@ Naugatuck Valley Community College</span></h6>
                                          <small class="light-white ">Jun 2021 - Dec 2021 · 7 mos</small>

                                          <ul class="light-white mt-3">
                                              <li>Maintained and installed software.</li>
                                              <li>Assist with remote and fields and customers services to students, faculty, and staff across campus via the online NV IT Service Desk and emergency phone line and other remote monitoring tools.</li>
                                              <li>Maintaining adequate and reliable network access to electronic information systems on campus.</li>
                                              <li>Manage campus electronic devices. </li>
                                              <li>Troubleshoot devices such as UPS’s, Network Switches, Servers, Laptops, Desktop, and another device.</li>
                                              <li>Assist in Software update and upgrade on campus devices.</li>
                                              <li>Provided remote customer Services</li>
                                              <li>Assisted in Training other colleagues.</li>
                                              <li>Reviewed and designed inventory management tools to improve accuracy of all IT assets.</li>
                                          </ul>
                                      </div>

                                  </div>


                                  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">13</div>
                              </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- My Work Section -->
        <section id="section3" class="mt-3 ms-3 text-white body-content">
            <div class="container">
                <h3><span class="Gio-color "> 0.3 </span>Things I've Built</h3> <hr class="Gio-color border border-2">


                {% for project  in projects %}
                    <div class="row my-3 projects-row">
                        <!-- Project Image -->
                        <div class="col-md-7">
                            <a href="{{project.project_other_link}}">
                                <img src="{{ project.proj_image_preview.url}}" alt="{{ project }} Image Preview" width="100%">
                            </a>
                        </div>

                        <!-- Project Description -->
                        <div class="col-md-5">
                            <h6>{{ project.proj_name}}</h6>
                            <div class="border  shadow-lg p-3 project-description-container">
                                <h6> Features:</h6>
                                <p class="light-white">{{ project.description}}</p>
                                <ul id="b" class="b light-white fs-6">
                                    {% if project.features1 %}
                                        <li>{{ project.features1 }}</li>
                                    {% endif %}

                                    {% if project.features2 %}
                                        <li>{{ project.features2 }}</li>
                                    {% endif %}

                                    {% if project.features3 %}
                                        <li>{{ project.features3 }}</li>
                                    {% endif %}

                                    {% if project.features4 %}
                                        <li>{{ project.features4 }}</li>
                                    {% endif %}

                                    {% if project.features5 %}
                                        <li>{{ project.features5 }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                            <!-- Technology used in this project  -->
                            <div class="row p-3">
                                <div class="col">
                                    <ul class="h-list d-inline fs-6 light-white">
                                        <li >{{ project.tech_used }}</li>
                                    </ul>
                                    <!-- Project Links -->
                                    <br>
                                    <br>
                                    <!-- LiNKS -->
                                    <a class="fs-2" href="{{ project.project_git_link.url}}"><i class="fa-brands fa-github ms-auto me-2"></i></a>
                                    <a class="fs-2"  href="{{project.project_other_link.url}}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}

                <!-- Projects -->
                {#                <div class="row my-3 projects-row">#}
                {#                    <!-- Project Image -->#}
                {#                    <div class="col-7">#}
                {#                        <a href="#">#}
                {#                            <img src="{% static 'images/covid-19-data-visual.png' %}" width="100%">#}
                {#                        </a>#}
                {#                    </div>#}
                {#                    <!-- Project Description -->#}
                {#                    <div class="col-5">#}
                {#                        <h6>Covid-19 Data Visualization and Analysis</h6>#}
                {#                        <div class="border  shadow-lg p-3 project-description-container">#}
                {#                            <h6> Features:</h6>#}
                {#                            <p class="light-white">Display covid-19 data for every continent and most their countries.</p>#}
                {#                            <ul id="b" class="b light-white fs-6">#}
                {#                                <li>Case status: Confirmed, Deaths, and Recovered</li>#}
                {#                                <li>Total Populations per country and continents</li>#}
                {#                                <li>Map view and other useful charts.</li>#}
                {#                            </ul>#}
                {#                        </div>#}
                {#                        <!-- Technology used in this project  -->#}
                {#                        <div class="row p-3">#}
                {#                            <div class="col">#}
                {#                                <ul class="h-list d-inline fs-6 light-white">#}
                {#                                    <li style="display:inline">MySql</li>#}
                {#                                    <li style="display:inline">STP Mail server</li>#}
                {#                                    <li style="display:inline">Linux VM</li>#}
                {#                                    <li style="display:inline">Grafana</li>#}
                {#                                    <li style="display:inline">NGINX</li>#}
                {#                                    <li style="display:inline">Python</li>#}
                {#                                </ul>#}
                {#                                <!-- Project Links -->#}
                {#                                <br>#}
                {#                                <br>#}
                {#                                <a href="https://github.com/Moodkiller20/Covid-19-Data-visualization-and-Analysis"><i class="fa-brands fa-github ms-auto me-2"></i></a>#}
                {#                                <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {##}
                {#                </div>#}
                {#                <div class="row my-3 projects-row">#}
                {#                    <!-- Project Image -->#}
                {#                    <div class="col-7">#}
                {#                        <a href="#">#}
                {#                            <img src="{% static 'images/covid-19-data-visual.png' %}" width="100%">#}
                {#                        </a>#}
                {#                    </div>#}
                {#                    <!-- Project Description -->#}
                {#                    <div class="col-5">#}
                {#                        <h6>Covid-19 Data Visualization and Analysis</h6>#}
                {#                        <div class="border  shadow-lg p-3 project-description-container">#}
                {#                            <h6> Features:</h6>#}
                {#                            <p class="light-white">Display covid-19 data for every continent and most their countries.</p>#}
                {#                            <ul id="b" class="b light-white fs-6">#}
                {#                                <li>Case status: Confirmed, Deaths, and Recovered</li>#}
                {#                                <li>Total Populations per country and continents</li>#}
                {#                                <li>Map view and other useful charts.</li>#}
                {#                            </ul>#}
                {#                        </div>#}
                {#                        <!-- Technology used in this project  -->#}
                {#                        <div class="row p-3">#}
                {#                            <div class="col">#}
                {#                                <ul class="h-list d-inline fs-6 light-white">#}
                {#                                    <li style="display:inline">MySql</li>#}
                {#                                    <li style="display:inline">STP Mail server</li>#}
                {#                                    <li style="display:inline">Linux VM</li>#}
                {#                                    <li style="display:inline">Grafana</li>#}
                {#                                    <li style="display:inline">NGINX</li>#}
                {#                                    <li style="display:inline">Python</li>#}
                {#                                </ul>#}
                {#                                <!-- Project Links -->#}
                {#                                <br>#}
                {#                                <br>#}
                {#                                <a href="https://github.com/Moodkiller20/Covid-19-Data-visualization-and-Analysis"><i class="fa-brands fa-github ms-auto me-2"></i></a>#}
                {#                                <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {##}
                {#                </div>#}
                {#                <div class="row my-3 projects-row">#}
                {#                    <!-- Project Image -->#}
                {#                    <div class="col-7">#}
                {#                        <a href="#">#}
                {#                            <img src="{% static 'images/covid-19-data-visual.png' %}" width="100%">#}
                {#                        </a>#}
                {#                    </div>#}
                {#                    <!-- Project Description -->#}
                {#                    <div class="col-5">#}
                {#                        <h6>Covid-19 Data Visualization and Analysis</h6>#}
                {#                        <div class="border  shadow-lg p-3 project-description-container">#}
                {#                            <h6> Features:</h6>#}
                {#                            <p class="light-white">Display covid-19 data for every continent and most their countries.</p>#}
                {#                            <ul id="b" class="b light-white fs-6">#}
                {#                                <li>Case status: Confirmed, Deaths, and Recovered</li>#}
                {#                                <li>Total Populations per country and continents</li>#}
                {#                                <li>Map view and other useful charts.</li>#}
                {#                            </ul>#}
                {#                        </div>#}
                {#                        <!-- Technology used in this project  -->#}
                {#                        <div class="row p-3">#}
                {#                            <div class="col">#}
                {#                                <ul class="h-list d-inline fs-6 light-white">#}
                {#                                    <li style="display:inline">MySql</li>#}
                {#                                    <li style="display:inline">STP Mail server</li>#}
                {#                                    <li style="display:inline">Linux VM</li>#}
                {#                                    <li style="display:inline">Grafana</li>#}
                {#                                    <li style="display:inline">NGINX</li>#}
                {#                                    <li style="display:inline">Python</li>#}
                {#                                </ul>#}
                {#                                <!-- Project Links -->#}
                {#                                <br>#}
                {#                                <br>#}
                {#                                <a href="https://github.com/Moodkiller20/Covid-19-Data-visualization-and-Analysis"><i class="fa-brands fa-github ms-auto me-2"></i></a>#}
                {#                                <a href="#"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {##}
                {#                </div>#}


            </div>
        </section>
        <!-- contact Section -->
        <section id="section4 " class="my-3 ms-3 body-content ">

            <div class="container ">
                <p class="Gio-color text-center"><span class="text-white "> 0.4</span> What's Next ?</p>
                <h1 class="text-center text-white"> Get In Touch</h1>
                <br>

                <div class="row">
                    <div class="col-8 mx-auto">
                        <p class="light-white text-center">Thanks for stopping by! Don't hesitate to reach out.</p>
                        <br>
                        <div class="d-block">
                            {% for into in intros %}

                                <p class="text-center my-3 p-2 Gio-color my-border  "><a class="Gio-color text-decoration-none " href="mailto: {{into.my_email}}">Say Hello! </a> </p>
                            {% endfor %}
                        </div>

                    </div>
                </div>



            </div>
        </section>
        <!-- footer section -->
        <section class="ms-3 body-content footer projects-row text-center mx-auto">
            {% for into in intros %}
                <p class="light-white lead fs-6 text-center"> Designed & Built by Giovanni Tshibangu
                    <a class="ms-1" href="{{into.my_instagram}}"><i class="fa-brands fa-instagram "></i></a>
                    <a class="ms-1" href="{{into.my_gitHub}}"> <i class="fa-brands fa-github "></i></a>
                    <a class="ms-1" href="{{into.my_linkedIn}}"> <i class="fa-brands fa-linkedin-in "></i></a>

                </p>
                <p class="light-white lead fs-6 text-center"> Giosroom 2022</p>
            {% endfor %}
        </section>

    </div>
{% endblock %}
